header{
  padding-top: 34px ;
  /* margin-bottom: 150px; */

}


  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  flex: 1; */
  

.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  flex: 1;
}



.logo{
  display: block;
  
  
}

.menu{
  width: 391px;

}

.menu__list{
  display: flex;
  justify-content: space-between;
  padding: 0;
}
  
  

.menu__item{
  vertical-align: middle;
   margin-right: 50px; 
  
  
}

.menu__link{
  font-size: 16px;
  text-decoration: none;
}

.menu__link:hover{
  font-size: 16px;
  text-decoration: none;
  color:#8F00FF;
  transition-property: inherit;
  transition-duration: 0.3s;

}

.contacts{
  font-style: normal;
  text-align: right;
  justify-content: flex-end;
}

.contacts__phone{
  text-decoration: none;
  font-size: 26px;
  font-style: normal;
  transition-property: inherit;
  transition-duration: 0.3s;
}

.contacts__phone:hover{
  color: #8F00FF;
  transition-property: inherit;
  transition-duration: 0.3s;
  text-decoration: none;
  font-size: 26px;
  font-style: normal;
}

.contacts__info{
  font-size: 13px;
  text-decoration: underline;
}


/* /* services */
.header__games{
  height: 412px;
 /* background: url(../img/phonetop.png); */
} 

.hello__title-services{
  margin-top: 107px;
  margin-bottom: 104px;
}

.work{
  position: relative;
  display: inline-flex;
}

.work__dropdown{
  position: absolute;
  top: 31px;
  right: 0;
  padding: 14px 17px;
  background-color: bisque;
  opacity: 0;
  pointer-events: none;
  display: none;
  flex-direction: column;
  background: #ededee;
  width: 157px;
  color: black;
  font-style: normal;
  font-size: 13px;
  line-height: 21px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;

}

.work__dropdown-triangle{
  position: relative;
}

.work__dropdown-triangle::after{
  content: "";
  position: absolute;
  right: 26px;
  top: -34px;
  border: 10px solid transparent;
  border-bottom: 10px solid #ededee;
}


.work:hover .work__dropdown{
  display: block;
  opacity: 0.8;
  pointer-events:all;

}

.work:hover .contacts__info{
  color: #8F00FF;
  transition: 0.3s;
}

.dropdown__time{
  color: #1E1F20;
  font-weight: bold;
  font-size: 13px;
}
.dropdown__date{
  color: #1E1F20;
  font-weight: normal;
  font-size: 13px;
}
